@model List<HospitalProject_Team4.Models.ParkingSpot>
@{
    ViewBag.Title = "List";
}
<h2>Available Parking Spaces</h2>
<form action="/List" method="GET">
    <input type="text" name="parksearchkey" id="parksearchkey" />
    <input type="submit" value="Search" />
</form>
<h3>LaVerendrye General Hospital Auxiliary</h3>
<div class="tilecontainer">
    @{
        foreach (var spot in Model)
        {
                    if (spot.branch == "La Verendrye Hospital")
                    {
                        <div class="itemdetails">
                            <div class="">Lot: <span>@spot.lot</span></div>
                            <div class="">Space Location: <span>@spot.location</span></div>
                            <a class="btn btn-secondary" href="/Parking/Book/@spot.SpotID">Book Now</a>
                        </div>
                        <div style="clear:both;"></div>
                    }
        }
    }
    <div style="clear:both;"></div>
</div>
<h3>Rainy River Health Centre</h3>
<div class="tilecontainer">
    @{
        foreach (var pspot in Model)
        {
                    if (pspot.branch == "Rainy River Health Centre")
                    {
                        <div class="itemdetails">
                            <div class="">Lot: <span>@pspot.lot</span></div>
                            <div class="">Space Location: <span>@pspot.location</span></div>
                            <a class="btn btn-secondary" href="/Parking/Book/@pspot.SpotID">Book Now</a>
                        </div>
                        <div style="clear:both;"></div>
                    }

        }
    }
    <div style="clear:both;"></div>
</div>
<h3>Emo & District Auxiliary</h3>
<div class="tilecontainer">
    @{
        foreach (var pSpot in Model)
        {
                    if (pSpot.branch == "Emo Health Centre")
                    {
                        <div class="itemdetails">
                            <div class="">Lot: <span>@pSpot.lot</span></div>
                            <div class="">Space Location: <span>@pSpot.location</span></div>
                            <a class="btn btn-secondary" href="/Parking/Book/@pSpot.SpotID">Book Now</a>
                        </div>
                        <div style="clear:both;"></div>
                    }
        }
    }
    <div style="clear:both;"></div>
</div>


